{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h1>Select multiple tags to filter your results</h1>

  <form method="GET">
    {% for tag in alltags %}
    <div class="ck-button"><label>
      <input type="checkbox" id="tchkbox_{{tag.tag_id}}" name="tags"
      value="{{tag.tag_id}}"
        {% for ftag in filters %}
          {% if ftag.tag_id = tag.tag_id %}
            checked
          {% endif %}
        {% endfor %}>
      <span>{{tag.tag_name}}</span>
    </label></div>
    {% endfor %}
    <br/>
    <input type="submit" value="Submit">
  </form>

  {% for image in images %}
    <figure class="nomargin">
      <a href="{{image.url}}">
        <img src="{{image.url}}" loading="lazy">
      </a>
      <figcaption>{{image.caption}}</figcaption>
    </figure>
    {% if loggedin %}
    <a href="/image_settings?id={{image.image_id}}&redirect={{fullpath}}">settings</a>
    {% endif %}
  {% endfor %}
  {% ifequal images|length 0 %}
    <br/><p>No images match all the selected tags.</p>
  {% endifequal %}
  </div>
{% endblock %}
