{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h1>Select multiple tags to filter your results</h1>

    <form method="GET">
      {% for tag in alltags %}
      <div class="ck-button"><label>
        <input type="checkbox" id="tchkbox_{{tag.tag_id}}" name="tags"
        value="{{tag.tag_id}}"
          {% for ftag in filters %}
            {% if ftag.tag_id = tag.tag_id %}
              checked
            {% endif %}
          {% endfor %}>
        <span>{{tag.tag_name}}</span>
      </label></div>
      {% endfor %}
      <br/>
      <input id="filtersubmit" type="submit" value="Submit">
    </form>
    <div id="thepictures" style="padding-top: 1em;">
    {% for image in images %}
      <figure class="nomargin">
        <a href="{{image.full_prefix}}_medium.{{image.sizes.medium.extension}}">
          <img
            srcset="{{image.full_prefix}}_tiny.{{image.sizes.tiny.extension}} {{image.sizes.tiny.width}}w,
                    {{image.full_prefix}}_small.{{image.sizes.small.extension}} {{image.sizes.small.width}}w,
                    {{image.full_prefix}}_medium.{{image.sizes.medium.extension}} {{image.sizes.medium.width}}w"
            sizes="(max-width: 640px) {{image.sizes.tiny.width}}px,
                  (max-width: 960px) {{image.sizes.small.width}}px,
                  {{image.sizes.medium.width}}px"
          src="{{image.full_prefix}}_tiny.{{image.sizes.tiny.extension}}"
          {% if forloop.counter > 3 %}loading="lazy"{% endif %}>
        </a>
        <figcaption>{{image.caption}} {% if any image.place image.date %}<span class="has-tooltip-arrow has-tooltipl-multiline" style="font-style: normal; text-align: start;" data-tooltip="{% if image.place %}place: {{ image.place }}&#10;{% endif %}{% if image.date %}date: {{ image.date }}{% endif %}"><a href="#" style="pointer-events: none">ⓘ</a></span>{% endif %} <a style="font-style: normal;" href="{{image.full_prefix}}_original.{{image.sizes.original.extension}}">⬇</a></figcaption>
      </figure>
      {% if loggedin %}
      <a href="/image_settings?id={{image.image_id}}&redirect={{fullpath}}">settings</a>
      {% endif %}
    {% endfor %}
    {% ifequal images|length 0 %}
      <br/><p>No images match all the selected tags.</p>
    {% endifequal %}
    </div>
  </div>
{% endblock %}

{% block page-scripts %}
{% script "/js/advanced.js" %}
{% endblock %}
