{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h1>Select multiple tags to filter your results</h1>

  <form method="GET">
    {% for tag in alltags %}
    <div id="ck-button"><label>
      <input type="checkbox" id="tchkbox_{{tag.tag_id}}" name="tags"
      value="{{tag.tag_id}}"
        {% for ftag in filters %}
          {% if ftag.tag_id = tag.tag_id %}
            checked
          {% endif %}
        {% endfor %}>
      <span>{{tag.tag_name}}</span>
    </label></div>
    {% endfor %}
    <br/>
    <input type="submit" value="Submit">
  </form>
  
  {% if filters|length > 0 %}
    {% for ftag in filters %}
      <p>{{ ftag.description }}</p>
    {% endfor %}
  {% endif %}
  {% for image in images %}
    <figure class="nomargin">
      <a href="/image?id={{image.image_id}}">
        <img src="/image?id={{image.image_id}}" loading="lazy">
      </a>
      <figcaption>{{image.caption}}</figcaption>
    </figure>
    {% if loggedin %}
    <a href="/image_settings?id={{image.image_id}}&redirect={{fullpath}}">settings</a>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
