<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to xyloobservations</title>

    <!-- styles -->
    {% style """/assets/bulma/css/bulma.min.css" %}
    {% style """/assets/material-icons/css/material-icons.min.css" %}

    {% style """/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar is-info">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/" style="font-weight:bold;">xyloobservations</a>
                  <span class="navbar-burger burger" data-target="nav-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              <div id="nav-menu" class="navbar-menu">
                  <div class="navbar-start">
                      <a href="/" class="navbar-item{% ifequal page "gallery" %} is-active{%endifequal%}">Gallery</a>
                      <a href="/advanced" class="navbar-item{% ifequal page "advanced" %} is-active{%endifequal%}">Advanced</a>
                      <a href="/random?num=10" class="navbar-item{% ifequal page "random" %} is-active{%endifequal%}">Random</a>
                      {% if loggedin %}
                      <a href="/add_tag" class="navbar-item{% ifequal page "add_tag.html" %} is-active{%endifequal%}">Add Tag</a>
                      <a href="/upload_image" class="navbar-item{% ifequal page "upload_image.html" %} is-active{%endifequal%}">Upload Image</a>
                      <a href="/orphan_images" class="navbar-item{% ifequal page "orphan_images.html" %} is-active{%endifequal%}">Orphan Images</a>
                      {% else %}
                      <a href="/login" class="navbar-item{% ifequal page "about.html" %} is-active{%endifequal%}">Login</a>
                      {% endif %}
                  </div>
              </div>
          </div>
      </nav>

      <section class="section">
          <div class="container">
              {% block content %}
              {% endblock %}
          </div>
      </section>

    <!-- scripts -->
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>

    
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
