{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h1>Confirm deletion</h1>
    <img
      srcset="{{image.urlprefix}}_tiny.{{image.sizes.tiny.extension}} {{image.sizes.tiny.width}}w,
              {{image.urlprefix}}_small.{{image.sizes.small.extension}} {{image.sizes.small.width}}w,
              {{image.urlprefix}}_medium.{{image.sizes.medium.extension}} {{image.sizes.medium.width}}w"
      sizes="(max-width: 640px) {{image.sizes.tiny.width}}px,
             (max-width: 960px) {{image.sizes.small.width}}px,
             {{image.sizes.medium.width}}px"
      src="{{image.urlprefix}}_tiny.{{image.sizes.tiny.extension}}"
      loading="lazy">
    <form method="POST" action="?id={{image_id}}&redirect={{redirect}}">
      {% csrf-field %}
      <input type="submit" value="Delete"/>
    </form>
  </div>
{% endblock %}
