{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h1>Select a tag to filter your results</h1>
  {% for tag in alltags %}{% ifequal tag.advanced "false" %}
  <a href="?tags={{tag.tag_id}}" class="button
    {% for ftag in filters %}
      {% if ftag.tag_id = tag.tag_id %}
        green
      {% endif %}
    {% endfor %}
    ">{{tag.tag_name}}</a>
  {% endifequal %}{% endfor %}
  {% if filters|length > 0 %}
    {% for ftag in filters %}
      <p>{{ ftag.description }}</p>
    {% endfor %}
  {% endif %}
  {% for image in images %}
    <figure class="nomargin">
      <img src="/image?id={{image.image_id}}" loading="lazy">
      <figcaption>{{image.caption}}</figcaption>
    </figure>
    {% if loggedin %}
    {# the redirect= here is because if we delete we need to know where to go back to #}
    <a href="/image_settings?id={{image.image_id}}&redirect={{fullpath}}">settings</a>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
