{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h1>{% if filters|length < 1 %}
        Select a tag to filter your results
      {% else %}
        Images tagged
      {% endif %}
  </h1>
  {% for tag in alltags %}
  <a href="?tags={{tag.tag_id}}" class="button
    {% for ftag in filters %}
      {% if ftag.tag_id = tag.tag_id %}
        green
      {% endif %}
    {% endfor %}
    ">{{tag.tag_name}}</a>
  {% endfor %}
  {% if filters|length > 0 %}
    {% for ftag in filters %}
      <p>{{ ftag.description }}</p>
    {% endfor %}
  {% endif %}
    {% for image in images %}
      <figure>
        <img src="/image?id={{image.image_id}}" loading="lazy">
        <figcaption>{{image.caption}}</figcaption>
      </figure>
    {% endfor %}
  </div>
{% endblock %}
