{% extends "base.html" %}
{% block content %}
  <div class="content">
  {% for tag in tags %}
    <h1>{{tag.tag_name}}</h1>
    <p>{{tag.description}}</p>
    {% for image_id in tag.images %}
    <img src="/image?id={{image_id}}">
    {% if loggedin %}
    <a href="/image_settings?id={{image_id}}">settings</a>
    {% endif %}
  {% endfor %}
  {% endfor %}
  {% if orphans|length > 0 %}
  <h1>Un-tagged images</h1>
    {% for image in orphans %}
      <img src="/image?id={{image.image_id}}">
      {% if loggedin %}
      <a href="/image_settings?id={{image.image_id}}">settings</a>
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
{% endblock %}
