{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p style="color: {% if msgtype = "error" %}red{% else %}green{% endif %};">
      {{msgtxt}}
    </p>
    <img
      srcset="{{image.full_prefix}}_tiny.{{image.sizes.tiny.extension}} {{image.sizes.tiny.width}}w,
              {{image.full_prefix}}_small.{{image.sizes.small.extension}} {{image.sizes.small.width}}w,
              {{image.full_prefix}}_medium.{{image.sizes.medium.extension}} {{image.sizes.medium.width}}w"
      sizes="(max-width: 640px) {{image.sizes.tiny.width}}px,
             (max-width: 960px) {{image.sizes.small.width}}px,
             {{image.sizes.medium.width}}px"
      src="{{image.full_prefix}}_tiny.{{image.sizes.tiny.extension}}">
    <h2>Attached tags</h2>
    <form method="POST">
      {% csrf-field %}
      <ul>
      {% for tag in attached_tags %}
      <li>
        {{tag.tag_name}} <input type="submit" value="-" onclick='document.getElementById("remtag").value = "{{tag.tag_id}}";'/>
      </li>
      {% endfor %}
      </ul>
      <input type="hidden" name="whichform" value="remove_tag">
      <input type="hidden" id="remtag" name="tag" value="">
    </form>
    <form method="POST">
      {% csrf-field %}
      <label for="addtag">Add a tag:</label>
      <select name="tag" id="addtag" onchange='this.form.submit();'>
        <option value=0>_</option>
      {% for tag in all_tags %}
        <option value="{{tag.tag_id}}">{{tag.tag_name}}</option>
      {% endfor %}
      </select>
      <input type="hidden" name="whichform" value="add_tag">
    </form>
    <h2>Caption</h2>
    <form method="POST">
      {% csrf-field %}
      <textarea name="caption" id="caption">{{image.caption}}</textarea><br>
      <input type="hidden" name="whichform" value="edit_caption">
      <input type="submit" value="Save">
    </form>
    <br/>
    <h2>Delete</h2>
    <a href="/deleteimg?id={{image_id}}&redirect={{redirect}}" class="button">Delete</a>
  </div>
{% endblock %}
