{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h1>{{ numimages }} random images</h1>
    <div id="thepictures" style="padding-top: 1em;">
    {% for image in images %}
      <figure class="nomargin">
        <a href="{{image.full_prefix}}_medium.{{image.sizes.medium.extension}}">
          <img
            srcset="{{image.full_prefix}}_tiny.{{image.sizes.tiny.extension}} {{image.sizes.tiny.width}}w,
                    {{image.full_prefix}}_small.{{image.sizes.small.extension}} {{image.sizes.small.width}}w,
                    {{image.full_prefix}}_medium.{{image.sizes.medium.extension}} {{image.sizes.medium.width}}w"
            sizes="(max-width: 640px) {{image.sizes.tiny.width}}px,
                  (max-width: 960px) {{image.sizes.small.width}}px,
                  {{image.sizes.medium.width}}px"
            src="{{image.full_prefix}}_tiny.{{image.sizes.tiny.extension}}"
            {% if forloop.counter > 3 %}loading="lazy"{% endif %}>
        </a>
        <figcaption>{{image.caption}}</figcaption>
      </figure>
      {% if loggedin %}
      <a href="/image_settings?id={{image.image_id}}&redirect={{fullpath}}">settings</a>
      {% endif %}
    {% endfor %}
    </div>
  </div>
{% endblock %}
