{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p style="color: {% if msgtype = "error" %}red{% else %}green{% endif %};">
      {{msgtxt}}
    </p>
    <form method="POST">
      {% csrf-field %}
      <fieldset>
        <legend><h1>Adding a new tag</h1></legend>
        <label for="tagname">Tag name</label>
        <input type="text" name="tagname" id="tagname"><br>
        <label for="description">Tag description</label>
        <textarea name="description" id="description"></textarea><br>
        <label for="advanced">Advanced?</label>
        <select name="advanced" id="advanced">
          <option value="false">no</option>
          <option value="date">date</option>
          <option value="place">place</option>
        </select>
      </fieldset>
      <input type="submit" value="Add tag">
    </form>
  </div>
{% endblock %}
