{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p style="color: {% if msgtype = "error" %}red{% else %}green{% endif %};">
      {{msgtxt}}
    </p>
    <form method="POST">
      {% csrf-field %}
      <fieldset>
        <legend><h2>Adding a new tag</h2></legend>
        <label for="tagname">Tag name</label>
        <input type="text" name="tagname" id="tagname"><br>
        <label for="description">Tag description</label>
        <textarea name="description" id="description"></textarea><br>
        <label for="advanced">Advanced?</label>
        <select name="advanced" id="advanced">
          <option value="false">no</option>
          <option value="date">date</option>
          <option value="place">place</option>
        </select>
      </fieldset>
      <input type="submit" value="Add tag">
    </form>
    <h1>Existing tags</h1>
    <table>
      <form method="GET">
      {% for tag in all_tags %}
      <tr>
        <td>{{tag.tag_name}}</td>
        <td><input type="submit" value="modify" formaction="/modify_tag" onclick='document.getElementById("tagid").value = "{{tag.tag_id}}";'/></td>
        <td><input type="submit" value="delete" formaction="/delete_tag" onclick='document.getElementById("tagid").value = "{{tag.tag_id}}";'/></td>
      </tr>
      {% endfor %}
      <input type="hidden" id="tagid" name="tag" value=""/>
      <input type="hidden" name="redirect" value="/tag_manager"/>
      </form>
    </table>
</div>
{% endblock %}
