{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p style="color: {% if msgtype = "error" %}red{% else %}green{% endif %};">
      {{msgtxt}}
    </p>
    <form method="POST" enctype="multipart/form-data" action="/upload_image">
      {% csrf-field %}
      <fieldset>
        <legend><h1>Upload an image</h1></legend>
        <input type="file" name="filename" id="newimage"><br>
        <textarea name="caption" id="caption"></textarea>
      </fieldset>
      {% for tag in all_tags %}
      <input type="checkbox" id="tag_{{ tag.tag_id }}" name="tags" value="{{ tag.tag_id }}">
      <label for="tag_{{tag.tag_id}}">{{tag.tag_name}}</label><br/>
      {% endfor %}
      <input type="submit" value="Upload">
    </form>
  </div>
{% endblock %}
