{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p id="message" style="color: {% if msgtype = "error" %}red{% else %}green{% endif %};">
      {{msgtxt}}
    </p>
    <form id="uploadform" method="POST" enctype="multipart/form-data" action="/upload_image_ajax">
      {% csrf-field %}
      <fieldset>
        <legend><h1>Upload an image</h1></legend>
        <input type="file" name="filename" id="newimage"><br/>
        <textarea name="caption" id="caption"></textarea><br/>
        {% for tag in all_tags %}
        <input type="checkbox" id="tag_{{ tag.tag_id }}" name="tags" value="{{ tag.tag_id }}">
        <label for="tag_{{tag.tag_id}}">{{tag.tag_name}}</label><br/>
        {% endfor %}
        <!-- <button id="uploadButton" type="button">Upload</button> -->
        <input type="submit" value="Upload" id="uploadsubmit">
      </fieldset>
  </form>
  </div>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script>
function doPoll(image_id){
    $.get('/image_progress?image_id='.concat(image_id), function(data) {
      switch (data["msgtxt"]) {
        case "complete":
          $("#message").css("color", "green");
          $("#message").text(data["msgtxt"]);
          break;
        case null:
          setTimeout(doPoll, 1000, image_id);
          break;
        default:
          $("#message").text(data["msgtxt"]);
          setTimeout(doPoll, 1000, image_id);
      }
    });
}

$(function() {
    //hang on event of form with id=myform
    $("#uploadform").submit(function(e) {

        //prevent Default functionality
        e.preventDefault();

        // disable the form. update the message
        $("#uploadsubmit").prop("disabled", true);
        $("#message").css("color", "blue");
        $("#message").text("uploading");

        // todo set the color explicitly

        // get the action-url of the form
        var actionurl = e.currentTarget.action;

        // make our AJAX request and handle the results
        $.ajax({
                url: actionurl,
                type: 'post',
                dataType: 'JSON',
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function(data, status) {
                  $("#message").text(data["msgtxt"]);
                  $('#uploadform').trigger("reset");

                  var image_id = data["image_id"];
                  doPoll(image_id);
                },
                error: function (xhr, status, err)
                {   
                  var msg = '';
                  if (xhr.status === 0) {
                      msg = 'Not connected.\n Verify Network.';
                  } else if (xhr.status == 404) {
                      msg = 'Requested page not found. [404]';
                  } else if (xhr.status == 500) {
                      msg = 'Internal Server Error [500].';
                  } else if (status === 'parsererror') {
                      msg = 'Requested JSON parse failed.';
                  } else if (status === 'timeout') {
                      msg = 'Time out error.';
                  } else if (status === 'abort') {
                      msg = 'Ajax request aborted.';
                  } else {
                      msg = 'Uncaught Error.\n' + xhr.responseText;
                  }
                  $("#message").css("color", "red");
                  $("#message").text(msg);
                  $("#uploadsubmit").prop("disabled", false)
                }
        });

    });

});

</script>
{% endblock %}
